.blog_details_bg{
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
	height: 220px;
	width: 100%;
}
.blog_details{
	margin-bottom: 50px;
	margin-top: 20px;
}
.blog_details h1{
	font-size: 18px;
}
span.writer{
	font-size: 12px;
	margin-top: 8px;
	display: block;
}
.blog_details p{
	line-height: 23px;
	margin-top: 32px;
}
span.underline{
	display: block;
	text-decoration: underline;
	margin: 10px 0;
}