<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start" class="header_icons" (click)="go()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title class="header_title">  
        About Us
      </ion-title>
      <ion-buttons class="information" slot="end">     
        <ion-icon name="chevron-back-outline" style="color: #000 !important"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="wrapper">
		<div class="about_bg">
			<div class="safina_logo">
				<img src="./../assets/images/safina.png" alt="safina_logo">
			</div>
		</div>
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<div class="about_details">
						<p>Our presence on this earth is a test of wills. We are here to discover our Maker, to know and love Him through our own choice and volition. We also recognize that we are near the end of our umma’s history, and that keeping the faith is more often than not, an uphill challenge, for in the End Times, the umma is afflicted with the epidemic of loving dunya and hating death. 
						<br><br>

						Our response is companionship and knowledge. We are dedicated to gaining knowledge and eliminating distractions. Our beliefs are based on the robust and firmly established teachings passed on by luminaries of the Sunna, Imam al-Nawawi and al-Ghazali, and those before them, Abu Hanifa, Malik, Shafi’, Ahmad, Bukhara, Muslim and al-Juwayni. 
						<br><br>

						We serve the entire family as well as every possible demographic. We do not seek to be huge. We care about quality over size and numbers. We are not slaves to numbers nor to our audience. We embrace technology and use it without allowing it to alter our vision, purpose or inner state. Through technology, we hope to bring like-minded students of knowledge together physically, not only virtually. We care as much about presentation as we do about content. Excellence, unicity of style along with simplicity is built into our DNA.</p>
					</div>
				</ion-col>
				<ion-col size="12">
					<div class="social_media">
						<ul>
							<li><a href="https://www.facebook.com/safinasociety/">FACEBOOK</a></li>
							<li>|</li>
							<li><a href="https://www.instagram.com/safinasociety/">INSTAGRAM</a></li>
							<li>|</li>
							<li><a href="https://twitter.com/SafinaSociety">TWITTER</a></li>
							<li>|</li>
							<li><a href="https://www.youtube.com/user/SafinaSociety">YOUTUBE</a></li>
						</ul>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<div class="powerd_by">
			<ion-grid>
				<ion-row>
					<ion-col size="12">
						<div class="powerd_text">
							<p>This app is brought to you by <b>Talespun</b>, a software development & design firm. With a team deeply skilled in software development, data analytics, design, and agile delivery, Talespun is dedicated to transforming customer stories into incredible digital experiences.</p>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>
</ion-content>
