.about_bg{
	background: #000;
	height: 135px;
	width: 100%;
	position: relative;
}
.safina_logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);	
}
.safina_logo img{
	max-width: 62px;
	width: 100%;
}
.about_details{
	margin-bottom: 22px;
}
.about_details p{
   font-family: 'Lora-Regular';
   font-size: 12px;
   line-height: 19px;
}
.social_media ul{
	padding: 0px;
	margin: 0px auto;
}
.social_media ul li {
    display: inline-block;
   	font-family: 'Gotham-Bold';
    color: #000;
    padding: 0 7px;
    font-size: 10px;
}
.social_media ul li a{
	color: #000;
	text-decoration: none;
}
.powerd_by{
	background: #F5F5F5;
	padding: 20px;
	margin-top: 30px;
}
.powerd_text p{
	font-size: 10px;
	line-height: 14px;
}