<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <!-- <img src="../../assets/images/logo.png" alt="logo" class="header_logo"> -->
      </ion-buttons>
      <ion-title class="header_title">  
        ANNOUNCEMENTS
      </ion-title>
      <ion-buttons class="information" slot="end">
        <!-- <ion-icon name="information-circle-outline" size="medium"></ion-icon> -->
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="wrapper">
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let Event of LetestEventsDatas">
          <div class="blog_card"  (click)="go(Event)">
            <!-- <div class="blog_card_img" style="background: url('{{getUrl(Event.image)}}');"></div> -->
            <div class="blog_card_img" [ngStyle]="{ 'background-image': 'url(' + Event.image + ')'}"></div>
            <div class="clearfix"></div>
            <div class="blog_card_body">
              <!-- <span class="category"> New EVENT</span> -->
              <h2>{{Event.title}}</h2>
              <span class="date">{{GetDateTime(Event.pubdate)}}</span>
              <p>{{Event.description | slice:0:100}}</p>
            </div>
          </div>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
