.blog_card{
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.16);
	margin-bottom: 25px;
}
.blog_card_img{
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	height: 140px;
	width: 100%;
}
.blog_card_body{
	margin-top: 14px;
	padding: 10px 10px 17px;
}
.blog_card_body h2{
	margin-top: 10px;
   font-family: 'Gotham-Bold';
   font-size: 15px;
}
.blog_card_body p{
	line-height: 19px;
	font-size: 14px;
   	font-family: 'Lora-Regular';
}
span.date{
	margin-top: 8px;
	display: block;
	font-size: 10px;
	margin-bottom: 10px;
   font-family: 'Gotham-Book';
}