<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start" class="header_icons" (click)="go()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title class="header_title">  
        Safina Society Audio
      </ion-title>
      <ion-buttons class="information" slot="end">     
        <ion-icon name="chevron-back-outline" style="color: #000 !important"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="wrapper">
	    <div class="blog_details_bg" style="background: url('./../assets/images/audio.png');">
	      <div class="dark_bg"></div>
	      <div class="aduio_name">
	      	<h2>{{title}}</h2>
	      	<ul>
	      		<li>Season 3</li><li> | </li><li> {{GetDateTime(DateTime)}}</li>
	      	</ul>
	      </div>
	    </div>
	    <div class="clearfix"></div>

	    <ion-grid>
	    	<ion-row>
	    		<ion-col size="12">
	    			<div class="audio_play">
	    				<audio controls>
						  <source [src]="audiolink" type="audio/mp3">
						  Your browser does not support the audio element.
						</audio>
	    			</div>
	    		</ion-col>
				<ion-col size="12">
					<div class="blog_details">
						<span class="writer">Description</span>
						<p>{{summary}}</p>
					</div>
				</ion-col>
	    	</ion-row>
	    </ion-grid>
	</div>
</ion-content>
