.blog_details_bg{
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
	height: 374px;
	width: 100%;
	position: relative;
}
.dark_bg{
	background: rgba(0,0,0,0.75);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.audio_play {
    text-align: center;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
	background-color: #fff;
	color: #000;
}

.blog_details {
  	margin-bottom: 30px;
    font-family: 'Lora-Regular';
}
.blog_details span{
	margin-bottom: 16px;
	margin-top: 5px;
	display: block;
}
.blog_details h1{
	font-size: 18px;
}
.blog_details p{    
	font-size: 12px;
    line-height: 19px;
	margin-top: 16px;
}
.aduio_name ul{
	padding: 0;
	margin: 0;
}
.aduio_name ul li{
	display: inline-block;    
	padding-right: 5px;
    font-size: 12px;
}
.aduio_name{
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 32px;
	max-width: 50%;
	width: 100%;
	color: #fff;
}
.aduio_name h2 {
    font-size: 18px;
    margin-bottom: 8px
}