<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <!-- <img src="../../assets/images/logo.png" alt="logo" class="header_logo"> -->
      </ion-buttons>
      <ion-title class="header_title">  
        SAFINA SOCIETY VIDEOS
      </ion-title>
      <ion-buttons class="information" slot="end">
        <!-- <ion-icon name="information-circle-outline" size="medium"></ion-icon> -->
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="wrapper">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="search_btn">
              <ion-input type="search" placeholder="Search" (keyup)="searchText(Search.value)" #Search></ion-input>
          </div>
        </ion-col>
        <ion-col size="12" *ngFor="let VideoData of LetestVideoDatas">
          <div class="blog_card">
            <ion-row>
              <ion-col size="2">
                <div class="blog_card_img" style="background: url('{{VideoData.snippet.thumbnails.default.url}}');"></div>                
              </ion-col>
              <ion-col size="10">
                <div class="blog_card_body" (click)="go(VideoData)">
                  <h2>{{VideoData.snippet.title}}</h2>
                  <span class="date">{{GetDateTime(VideoData.snippet.publishTime)}}</span>
                  <p>{{VideoData.snippet.description | slice:0:100}}</p>
                </div>                
              </ion-col>              
            </ion-row>
          </div>
        </ion-col>
        <ion-col size="12" *ngIf="token!=''">
          <ion-button expand="block" (click)="GetMoreVideos()">Load More</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
