<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="Blog">
      <ion-icon name="document-text-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="Podcast">
      <ion-icon name="mic-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="Vedio">
      <ion-icon name="play-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="Event">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
