.blog_card{
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.13);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.13);
	margin-bottom: 25px;
}
.blog_card_img{
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	height: 45px;
	width: 100%;
}
.blog_card_body{
	margin-top: 0px;
	padding: 0px 0px 17px;
}
span.category{
	background: #3A0A46;
	display: block;
	font-size: 10px;
	max-width: 40%;
	color: #fff;
	text-transform: uppercase;
   font-family: 'Gotham-Medium';
   text-align: center;
   padding: 3px;
}
.blog_card_body h2{
   font-family: 'Gotham-Bold';
   font-size: 15px;
}
.blog_card_body p{
	line-height: 16px;
	font-size: 12px;
   	font-family: 'Lora-Regular';
   	margin-top: 0px;
}
span.date{
	margin-top: 8px;
	display: block;
	font-size: 10px;
	margin-bottom: 7px;
   font-family: 'Gotham-Book';
}
.search_btn{
	margin-bottom: 20px;
	margin-top: 10px;
}
ion-input.sc-ion-input-md-h.sc-ion-input-md-s.md.hydrated {
    box-shadow: 1px 2px 4px 1px rgba(213, 213, 213, 0.5);
    border: 1px solid #d5d5d5;
   font-family: 'Gotham-Medium';
}