<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <img src="../../assets/images/logo.png" alt="logo" class="header_logo">
      </ion-buttons>
      <ion-title class="header_title">  
        Safina Society
      </ion-title>
      <ion-buttons class="information" slot="end" (click)="go()">
        <ion-icon name="information-circle-outline" size="medium"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="wrapper">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="blog_card">
            <div class="blog_card_img" style="background: url('{{LetestBlogimg}}') no-repeat center center fixed;"></div>
            <!-- <div class="blog_card_img" >
              <img [src]="LetestBlogimg">
            </div> -->
            <div class="clearfix"></div>
            <div class="blog_card_body" (click)="GotoBlog()">
              <span class="category"> NEW BLOG</span>
              <h2>{{LetestBlogTitle}}</h2>
              <span class="date">{{GetDateTime(LetestBlogTime)}}</span>
              <p>{{LetestBlogDesc | slice:0:100}}</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="blog_card">
            <div class="blog_card_img" style="background: url('{{LetestPodcastImg}}');"></div>
            <div class="clearfix"></div>
            <div class="blog_card_body" (click)="GotoPodcast()">
              <span class="category"> NEW PODCAST</span>
              <h2>{{LetestPodcastTitle}}</h2>
              <span class="date">{{GetDateTime(LetestPodcastTime)}}</span>
              <p>{{LetestPodcastDesc | slice:0:100}}</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="blog_card">
            <div class="blog_card_img" style="background: url('{{LetestVideoImg}}');"></div>
            <div class="clearfix"></div>
            <div class="blog_card_body" (click)="GotoVedio()">
              <span class="category"> NEW VIDEO</span>
              <h2>{{LetestVideoTitle}}</h2>
              <span class="date">{{GetDateTime(LetestVideoTime)}}</span>
              <p>{{LetestVideoDesc | slice:0:100}}</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="blog_card" (click)="GotoEvents()">
            <div class="blog_card_img" style="background: url('{{LetestEventImg}}');"></div>
            <div class="clearfix"></div>
            <div class="blog_card_body">
              <span class="category"> New EVENT</span>
              <h2>{{LetestEventTitle}}</h2>
              <span class="date">{{GetDateTime(LetestEventTime)}}</span>
              <p>{{LetestEventDesc | slice:0:100}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
