.blog_card{
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.13);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.13);
	margin-bottom: 12px;
}
.blog_card_body{
    margin-top: 0px;
    padding: 6px 10px 10px;
}
span.category{
	background: #3A0A46;
	display: block;
	font-size: 10px;
	max-width: 40%;
	color: #fff;
	text-transform: uppercase;
   font-family: 'Gotham-Medium';
   text-align: center;
   padding: 3px;
}
.blog_card_body h2{
   font-family: 'Gotham-Bold';
   font-size: 15px;
}
.blog_card_body p{
	line-height: 16px;
	font-size: 12px;
   	font-family: 'Lora-Regular';
   	margin-top: 0px;
}
span.date{
	margin-top: 8px;
	display: block;
	font-size: 10px;
	margin-bottom: 7px;
   font-family: 'Gotham-Book';
}
.search_btn{
	margin-bottom: 20px;
	margin-top: 10px;
}
ion-input.sc-ion-input-md-h.sc-ion-input-md-s.md.hydrated {
    box-shadow: 1px 2px 4px 1px rgba(213, 213, 213, 0.5);
    border: 1px solid #d5d5d5;
   font-family: 'Gotham-Medium';
}
.categories ul{
	padding: 0;
	margin: 0 auto 5px;
	display: table;
	border-top: 1px solid #B1B1B1;
}
.categories ul li{
	display: table-cell;
	padding: 10px 11px 0;
	font-size: 12px;
	position: relative !important;
}
.categories ul li a{
	text-decoration: none;
	color: #B1B1B1;
   	font-family: 'Gotham-Bold';
}
.categories ul li:first-child{
	padding-left: 0px;
}
.categories ul li:last-child{
	padding-right: 0px;
}
.active a{
	color: #000 !important;
}
.active::after{
    content: "";
    width: 100%;
    height: 1px;
    background: #3A0A46;
    position: absolute;
    top: -1px;
    left: 0;
}
.m_10{
	margin-bottom: 10px;
}