<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <!-- <img src="../../assets/images/logo.png" alt="logo" class="header_logo"> -->
      </ion-buttons>
      <ion-title class="header_title">  
        THE SAFINA SOCIETY PODCAST
      </ion-title>
      <ion-buttons class="information" slot="end">
        <!-- <ion-icon name="information-circle-outline" size="medium"></ion-icon> -->
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="wrapper">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="search_btn">
              <ion-input type="search" placeholder="Search" (keyup)="searchText(Search.value)" #Search></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="categories">
            <ul>
              <li id="Show0" class="active jggg"><a (click)="ShowAll(0)">ALL</a></li>
              <li id="Show3" class="jggg"><a (click)="ShowSeason3(3)">Season 3</a></li>
              <li id="Show2" class="jggg"><a (click)="ShowSeason2(2)">Season 2</a></li>
              <li id="Show1" class="jggg"><a (click)="ShowSeason1(1)">Season 1</a></li>
              <li id="Show4" class="jggg"><a (click)="ShowSOta(4)">SOTA</a></li>
            </ul>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid> 

    <ion-grid class="all m_10" *ngIf="allBool">
      <ion-row>
        <ion-col size="12" *ngFor="let PodcastData of LetestPodcastDatas">
          <div class="blog_card">
            <div class="blog_card_body" (click)="go(PodcastData)">
              <h2>{{PodcastData.title}}</h2>
              <span class="date">{{GetDateTime(PodcastData.pubdate)}}</span>
              <p>{{PodcastData.description | slice:0:100}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="clearfix"></div>


    <ion-grid class="season3  m_10" *ngIf="season3Bool">
      <ion-row>
        <ion-col size="12" *ngFor="let PodcastData of PodcastSeason3">
          <div class="blog_card">
            <div class="blog_card_body" (click)="go(PodcastData)">
              <h2>{{PodcastData.title}}</h2>
              <span class="date">{{GetDateTime(PodcastData.pubdate)}}</span>
              <p>{{PodcastData.description | slice:0:100}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="clearfix"></div>


    <ion-grid class="season2  m_10" *ngIf="season2Bool">
      <ion-row>
        <ion-col size="12" *ngFor="let PodcastData of PodcastSeason2">
          <div class="blog_card">
            <div class="blog_card_body" (click)="go(PodcastData)">
              <h2>{{PodcastData.title}}</h2>
              <span class="date">{{GetDateTime(PodcastData.pubdate)}}</span>
              <p>{{PodcastData.description | slice:0:100}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="clearfix"></div>


    <ion-grid class="season1  m_10" *ngIf="season1Bool">
      <ion-row>
        <ion-col size="12" *ngFor="let PodcastData of PodcastSeason1">
          <div class="blog_card">
            <div class="blog_card_body" (click)="go(PodcastData)">
              <h2>{{PodcastData.title}}</h2>
              <span class="date">{{GetDateTime(PodcastData.pubdate)}}</span>
              <p>{{PodcastData.description | slice:0:100}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="clearfix"></div>


    <ion-grid class="sota  m_10" *ngIf="sotaBool">
      <ion-row>
        <ion-col size="12" *ngFor="let PodcastData of podcastSota">
          <div class="blog_card">
            <div class="blog_card_body" (click)="go(PodcastData)">
              <h2>{{PodcastData.title}}</h2>
              <span class="date">{{GetDateTime(PodcastData.pubdate)}}</span>
              <p>{{PodcastData.description | slice:0:100}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="clearfix"></div>
  </div>
</ion-content>
