.blog_details_bg{
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
	width: 100%;
	position: relative;
}
.button_group {
    max-width: 50px;
    margin: 10px auto 0;
    display: block;
    overflow: hidden;
}
.back {
    float: left;
    font-size: 16px;
}
.for {
    float: right;
    font-size: 16px;
}
.dark_bg{
	background: rgba(0,0,0,0.75);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.icon_play{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);	
}
.icon_play ion-icon{
	color: #fff;
	font-size: 30px;
}
.blog_details{
	margin-bottom: 50px;
	margin-top: 20px;
}
.blog_details h1{
	font-size: 18px;
}
span.writer{
	font-size: 12px;
	margin-top: 8px;
	display: block;
}
.blog_details p{
	font-size: 12px;
    line-height: 19px;
	margin-top: 32px;
}
span.underline{
	display: block;
	text-decoration: underline;
	margin: 10px 0;
}
video {
    width: 100%;
}