<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start" class="header_icons" (click)="go()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title class="header_title">  
        SAFINA SOCIETY VIDEOS
      </ion-title>
      <ion-buttons class="information" slot="end">     
        <ion-icon name="chevron-back-outline" style="color: #000 !important"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="wrapper">
    <div class="blog_details_bg" >
      <!-- style="background: url('./../assets/images/video.png');" -->
      <iframe id="youtube_ifream" width="100%" height="250px" [src]="GetUrl(embedHtml)" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <!-- <video [src]="GetUrl(embedHtml)"></video> -->
      <!-- <div class="dark_bg"></div>
      <div class="icon_play">
        
        <ion-icon name="play" ></ion-icon>
      </div> -->
    </div>
    <div class="clearfix"></div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="blog_details">
            <h1>{{title}}</h1>
            <span class="writer">{{viewCount}} views · {{GetDateTime(datetime)}}</span>
            <p>Description 
            <br><br>
            {{description}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>  
</ion-content>
