/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
   font-family: 'Lora-Regular';
   src: url('./assets/fonts/Lora-Regular.ttf');
   font-style: normal;
 }

@font-face {
   font-family: 'Gotham-Bold';
   src: url('./assets/fonts/Gotham-Bold.otf');
   font-style: normal;
 }
@font-face {
   font-family: 'Gotham-Medium';
   src: url('./assets/fonts/Gotham-Medium.otf');
   font-style: normal;
 }
@font-face {
   font-family: 'Gotham-Book';
   src: url('./assets/fonts/Gotham-Book.otf');
   font-style: normal;
 }
@font-face {
   font-family: 'Gotham-Light';
   src: url('./assets/fonts/Gotham-Light.otf');
   font-style: normal;
 }

 body{
	font-size: 14px;	
  font-family: 'Lora-Regular' !important;
	color: #000;
 }
 h2,h1{
  margin: 0;
  font-family: 'Gotham-Bold';
 }
 p{
  margin-top: 5px;
  margin-bottom: 5px;
 }

 ion-tab-bar.md.hydrated {
    --background: #000;
}
/*ion-icon.md.hydrated {
    color: #fff;
}*/
ion-tab-bar{
    --color-selected: #fff !important;
}
.header_logo{
  max-width: 30px;
  width: 100%;
}
ion-toolbar.toolbar-title-default.md.in-toolbar.hydrated {
    --background: var(--ion-toolbar-background, var(--ion-background-color, #000));
    padding: 4px;
}
.header_title {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: 'Gotham-Medium';
  text-transform: uppercase;
}
.information > ion-icon, .header_icons > ion-icon {
    font-size: 25px; 
    color: #fff;
}
.clearfix{
  clear: both;
}

.searchbar-input.sc-ion-searchbar-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 10px !important;
    padding-inline-start: 10px !important;
    -webkit-padding-end: 10px !important;
    padding-inline-end: 10px !important;
}
ion-icon.searchbar-search-icon.sc-ion-searchbar-md.md.hydrated{
  display: none !important;
}
ion-toolbar.md.in-toolbar.hydrated.toolbar-searchbar {
    z-index: 0;
}