<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start" class="header_icons" (click)="go()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title class="header_title">  
        SAFINA SOCIETY BLOG
      </ion-title>
      <ion-buttons class="information" slot="end">     
        <ion-icon name="chevron-back-outline" style="color: #000 !important"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="wrapper">
		<div class="blog_details_bg" style="background: url('{{img}}');"></div>
		<div class="clearfix"></div>
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<div class="blog_details">
						<h1>{{title}}</h1>
						<span class="writer">By {{Auther}} · {{GetDateTime(pubdate)}}</span>
						<p>Bismillah al-Rahman al-Rahim 
						<br><br>
						<div [innerHTML]="description"></div>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
